<div class="profile-container"> 
    <div class="profile-avatar"><img alt="Аватар" src="../asserts/avatars/ava3.jpg"></div>
    {{>'profile/profile-field' name='email' fieldName='Почта' fieldValue='pochta@pochta.com'}}
    {{>'profile/profile-field' name='login' fieldName='Логин' fieldValue='vitoBraun'}}
    {{>'profile/profile-field' name='first_name' fieldName='Имя' fieldValue='Виталий'}}
    {{>'profile/profile-field' name='second_name' fieldName='Фамилия' fieldValue='Браун'}}
    {{>'profile/profile-field' name='display_name' fieldName='Имя в чате' fieldValue='Виталий'}}
    {{>'profile/profile-field' name='phone' fieldName='Телефон' fieldValue='+79771231122'}}
 
 <button>Сохранить</button>
</div>
