<div class="profile-container"> 
    <div class="profile-avatar"><img src="../asserts/avatars/ava3.jpg"></div>
    {{>'profile/profile-field' fieldName='Почта' fieldValue='pochta@pochta.com'}}
    {{>'profile/profile-field' fieldName='Логин' fieldValue='vitoBraun'}}
    {{>'profile/profile-field' fieldName='Имя' fieldValue='Виталий'}}
    {{>'profile/profile-field' fieldName='Фамилия' fieldValue='Браун'}}
    {{>'profile/profile-field' fieldName='Имя в чате' fieldValue='Виталий'}}
    {{>'profile/profile-field' fieldName='Телефон' fieldValue='+79771231122'}}
 
 <button>Сохранить</button>
</div>