<div class="chat-item">
  <div class="chat-item__avatar"><img alt="Аватар" src="{{#if avatar-url}}{{avatar-url}}{{else}}../asserts/avatars/noava.jpg{{/if}}" /></div>
  <div class="chat-item__info">
    <span><b>{{#if contactName}}{{contactName}}{{else}}Инкогнито{{/if}}</b>
    <br>Какой-то текст сообщения</span>
  </div>
  <div class="chat-item__info-time-count">
    <div>10:47</div>
    <div class="msg-count-circle"><span>3</span></div>
  </div>
</div>
