<div class="chat-feed">
  <div class="chat-feed__header">

    <div class="chat-item__avatar chat-item__avatar-small"><img src="{{#if avatar-url}}{{avatar-url}}{{else}}../asserts/avatars/ava1.jpg{{/if}}" /></div>
  </div>
  <div class="chat-feed__feed">Lorem ipsum dolor sit, amet consectetur
    adipisicing elit. Obcaecati et praesentium porro ducimus laborum? Vero
    corporis, sequi aspernatur, aliquid libero omnis repellat unde, amet minus
    ipsum sed earum. Molestias, cum.</div>
  <div class="chat-feed__footer">Footer</div>
</div>