<div class="chat-list">
  <div class="chat-list__head">
    <a class="profile-link firm-font" href="#">Профиль ></a>
  </div>
  <div class="chat-search">
    <input type="text" class="firm-font" placeholder="Поиск" />
  </div>
  {{> 'chat/chat-list-item' avatar-url='../asserts/avatars/ava1.jpg' contactName='Вася'}}
  {{> 'chat/chat-list-item' avatar-url='../asserts/avatars/ava2.jpg' contactName='Петя'}}
  {{> 'chat/chat-list-item' contactName='Женя'}}
  {{> 'chat/chat-list-item' }}
  {{> 'chat/chat-list-item'  avatar-url='../asserts/avatars/ava3.jpg'}}
  {{> 'chat/chat-list-item' }}
  {{> 'chat/chat-list-item' avatar-url='../asserts/avatars/noava.jpg'}}
</div>