<div class="chat-list">
  <div class="chat-list__head">
    <a class="profile-link firm-font" href="#">Профиль ></a>
  </div>
  <div class="chat-search">
    <input type="text" class="firm-font" placeholder="Поиск" />
  </div>
</div>