{{!< main}}
<nav>
  <ul>
    <li>
      <a href="./login.hbs">Login</a>
    </li>
    <li>
      <a href="./register.hbs">Register</a>
    </li>
    <li>
      <a href="./chat-empty.hbs">Chat empty</a>
    </li>
    <li>
      <a href="./chat-with-feed.hbs">Chat with feed</a>
    </li>
    <li>
      <a href="./profile.hbs">Profile</a>
    </li>
    <li>
      <a href="./profile-edit.hbs">Profile edit</a>
    </li>
    <li>
      <a href="./500.hbs">Error 500</a>
    </li>
    <li>
      <a href="./404.hbs">Error 404</a>
    </li>
  </ul>
</nav>
